<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9b92d7">  <td>18/11/25 11:59:57</td>   <td>0</td> <td title="&gt;&gt;ExtentReportInTestNG.startResult()[pri:0, instance:testCases.MergeLead@71423665]">&gt;&gt;startResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1354011814</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/11/25 11:59:58</td>   <td>978</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MergeLead.findLeadSetData()[pri:0, instance:testCases.MergeLead@71423665]">&gt;&gt;findLeadSetData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1354011814</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>18/11/25 11:59:58</td>   <td>994</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ExtentReportInTestNG.startTestCase()[pri:0, instance:testCases.MergeLead@71423665]">&gt;&gt;startTestCase</td> 
<td>&nbsp;</td>  <td>main@1354011814</td>   <td></td> </tr>
<tr bgcolor="9c6faa">  <td>18/11/25 11:59:58</td>   <td>1010</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:testCases.MergeLead@71423665]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1354011814</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/11/25 12:00:29</td>   <td>32110</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MergeLead.clickMergeLead()[pri:0, instance:testCases.MergeLead@71423665]">clickMergeLead</td> 
  <td>main@1354011814</td>   <td></td> </tr>
</table>
